body small {
    color: #eee;
}

body {
    background-color: black;
    color: #a1c4ed;
}

a:hover {
    text-decoration: none;
    color: #bf9aca;
}

a {
    color: #81a4cd ;
}

.media-object {
    margin: 5px;
    max-width: 64px;
}

.media-heading {
    margin: 5px;
}

h2 {
    width: 100%;
    border-bottom: solid 1px #81a4cd;
    padding-bottom: 5px;
    margin-left: 20px;
}

.page-header {
    color: #a1c4ed;
    width: 100%;
    border-bottom: solid 1px #81a4cd;
}

@media (min-width: 768px){
    .media {
        margin: 0px 0px 0px 25px; 
    }
}

@media (max-width: 384px) {
    .media-left {
        display: none;
    }
    
    h2 {
        border-radius: 0px;
    }
}

.serif {
    font-family: Garamond, Georgia, serif
}

.sans-serif {
    font-family: Verdana, Arial, sans-serif;
}

.light-font {
    font-weight: 300;
}
